.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

button {
    margin: 10px;
}

.userResults {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.compResults {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

p {
    margin: 10px;
}

#result {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}